<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/notes"></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="note.title === ''">(Untitled)</ion-title>
    <ion-title>{{ note.title }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="deleteNote()">
        <ion-icon slot="icon-only" name="trash"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-textarea (input)="noteChanged()" [(ngModel)]="note.content" placeholder="What's on your Mind?" auto-grow="true" spellcheck="true" mode="md"></ion-textarea>

  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
      <ion-fab-button color="secondary" (click)="saveNote()">
        <ion-icon name="checkmark"></ion-icon>
      </ion-fab-button>
    </ion-fab>
</ion-content>
